.nav-item {
    padding: 10px 15px;
    font-weight: 300;
    font-size: large;
    font-family: 'Quicksand', sans-serif;
}
/* berita */
.nav-list {
    background-color: #E5FFE6;
    color: #30B52D;
}
.detail a {
    color: #30B52D;
}
.date {
    color: #30B52D;
}
.header-list, .berita-list {
    background-color: #E5FFE6;
    color: #30B52D;
}
.header-list a, .berita-list a {
    color: #30B52D;
}
.keuangan-syariah {
    margin-top: 0px;
}
.up-todate h2 {
    color: #30B52D;
}
.insta {
    background-color: #30B52D;
}
.insta a {
    color: white;
}
.slider-card .card-title a {
    color: #30B52D;
}
.slider-instagram {
    background-color: #B1FFAF;
    padding-top: 80px;
    padding-bottom: 200px;
}
.slider-instagram, .card-text {
    color: #C4C4C4;
}
.slider-card {
    margin-top: -280px;
}
/* berita details */


.header-detail {
    margin-top: 40px;
}

.date-news b {
    color: #30B52D;
}

/* akhir berita details */

/* category berita */

.category-list .card-title a {
    color: #30B52D;
}

/* akhir category berita */

/* akhir berita */
.display-4 {
    font-weight: 500;
}
section {
    margin-top: 100px;
}
section p {
    line-height: 30px;
}
.banner {
    margin-top: 100px;
}
form {
    margin-right: 10px;
}
.search {
    background-color: #ECEAEA;
}
.jumbotron {
   background-image: url("../assets/images/Group\ 3\ \(1\).png");
   height: 640px;
   color: #fff;
   font-family: 'Bona Nova', serif;
   font-weight: 700;
}
.simpanan, .electonik, .agribisnis {
    background-color: #30B52D;
}
.kendaraan, .ziswaf, .haji {
    background-color: #C4C4C4;
}
.carousel-caption {
    margin-left: -50px;
}
.btn-white {
    background-color: #fff;
    color: #30B52D;
    width:250px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
}
footer {
    background-color: #30B52D;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
}
footer ul li {
    list-style: none;
    color: #fff;
}
footer a, footer p{
    color: #fff;
}

.form-control {
    background-color: #ECEAEA;
}
.ktp, .selfie, .ttd {
    height: 100px;
    border: 2px dashed #C4C4C4;
}
.syarat {
    background-color: #B1FFAF;
}